body{
    animation: pulse 5s infinite;
  }
  
  @keyframes pulse {
    0% {
        background-color: blueviolet;
      /* background-color: #001F3F; */
    }
    50% {
      background-color: #FF4136;
    }
    100% {
        /* background-color: #001F3F;*/
        background-color: blueviolet;
      }
  }


.display-4 {
    /* text-decoration: underline blueviolet; */
    /* text-decoration: underline #001F3F; */
    font-family: 'Alfa Slab One', cursive;
    color: tomato;
    /* text-shadow: -1px 0 red, 0 4px red, 4px 0 red, 0 -1px red;     */
    background-color: black;
} 
.display-5 {
    /* text-decoration: underline blueviolet; */
    /* text-decoration: underline #001F3F; */
    font-family: 'Alfa Slab One', cursive;
    color: tomato;
    /* text-shadow: -1px 0 red, 0 4px red, 4px 0 red, 0 -1px red;     */
    background-color: black;
    text-align: left;
} 
.container {
    background-color: black;
    color: white;
    margin: auto;
    border-radius: 42px;
    
}

.jumbotron {
    background-color: black;
    color: white;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px;
}

.jumbotron2 {
    background-color: black;
    color: white;
    text-align: center;
    height: 700px;
    border-radius: 42px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px;

}

#button {
    text-align: center;
    background-color: yellow;
    color: black;
    font-family: 'Alfa Slab One', cursive;
    border: black;
    margin-bottom: 20px;
}
#button2 {
    text-align: center;
    background-color: yellow;
    color: black;
    font-family: 'Alfa Slab One', cursive;
    border: black;
    margin-bottom: 30px;
    margin-top: 14px;
}

#button:hover{
    background-color: yellow;
    color: black;
    text-decoration: underline black;
    box-shadow: 0 3px 4px 0 darkgray, 0 3px 10px 0 white;
}
#button2:hover{
    background-color: yellow;
    color: black;
    text-decoration: underline black;
    box-shadow: 0 3px 4px 0 darkgrey, 0 3px 10px 0 white;
}

#footer {
    color: black;
    text-align: center;

}
#footer2 {
    color: white;
    text-align: center;

}
a{
    color: white;
    font-size: 20px;
    border-style: solid black;
    text-decoration: underline;

}
#a2{
    color: white;
    font-size: 20px;
    border-style: solid black;
    text-decoration: underline;
}
a:hover{
    font-size: 22px;
    text-shadow: 2px black;
    color: white;
}
#a2:hover{
    font-size: 22px;
    text-shadow: 2px black;
    color: white;
}
img {
    background-color: white;
    box-shadow: 2px violet;
    float: left;
    border-radius: 8px;
}

.survey {
    font-size: 36px;
    text-decoration: black;
    text-align: left;
    text-decoration: underline white;
}

.p1 {
    text-align: left;
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
    /* text-decoration: white underline; */
    text-align: left;
}

#hr {
  color: white;
}
#submit {
    margin-bottom: 80px;
    margin-top: 20px;
    border-color: black;
    color: white;
    background-color: black
}
#submit:hover {
    background-color: black;
    border-color: white;
    color: white;
    box-shadow:  0px 0px 4px 4px white; 
}
strong {
    text-decoration: white underline;
    font-size: 28px;
}
#img2{
    float: right;
}
#button {
    margin-bottom: 60px;
}
#hr1 {
    color: white;
    border: 2px white;
}
#hr1.new1 {
    border-top: 1px solid red;
  }
  
.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5;
    color: white;
    background-color: black;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s 
}
h4 {
    font-size: 1.5rem;
    padding-top: 8px;
    text-align: left;
}
h3 {
    font-size: 17px;
    text-align: left;
}
#h3 {
    font-size: 17px;
    text-align: center;
} 
#container3 {
    text-align: left;
}